<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.administrator.resource"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".accessibility.Core"
            android:description="@string/testaccessibility"
            android:label="accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
    </application>

</manifest>